$Color_Shadows: rgb(51,57,61)
$Color_Secundario: rgb(1,123,137)
.element_target_group
  border: 1px solid #f4c13c
  box-shadow: 0 0 8px #f4c13c
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-content: center
  margin-top: 9%
.element_target_group_title
  color: #f4c13c
  font-size: 3vw
  font-weight: 700
  display: flex
  justify-content: space-between
  padding: 2%
.Card_Entitie
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  background: $Color_Secundario
  margin: 2%
  width: 17%
  height: 100%
  box-shadow: inset 0 0 4px $Color_Shadows
  border-radius: 7px
  padding: 2%
.element_target_childE
  margin-left: 2%
  display: flex
  width: 92%
  justify-content: flex-end
/*MVL*/
@media (max-width: 480px)
  .Card_Entitie
    width: 42%
